* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #24bfc8;
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
  gap: 20px;
  text-align: center;
}

.container {
  background-color: #ffffff;
  width: 450px;
  height: 50vh;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px #1ca6b6;
  position: relative;
}

#myimage {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  left: -120px;
  bottom: -100px;
}
