@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #fe754e;
  --primary-gradient-color: #f4872d;
  --text-color: #fff;
  --bg-color: #141829;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: var(--text-color);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
}

.container {
  width: 55em;
  min-height: 70em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 20% 60%;
  border: 1px solid var(--primary-color);
  box-shadow: 7px 7px 50px #060b21bd;
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.container:hover {
  transform: scale(1.1);
  border: 1px solid var(--primary-gradient-color);
}

.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--text-color);
    width: 160px;
    height: 35px;
    border-radius: 5px;

    & label {
      display: grid;
      place-items: center;
      text-align: center;
      cursor: pointer;
      font-weight: 600;
      width: 52.7px;
      height: 100%;
      border: none;

      & input {
        display: none;
      }
    }

    & label:hover {
      background-color: var(--text-color);
      color: var(--bg-color);
    }

    & label:active {
      opacity: 0.5;
    }

    & span {
      background-color: var(--text-color);
      width: 1px;
      height: 100%;
    }
  }
}

.num-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  & div {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & input {
    width: 350px;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
  }
  & input:focus {
    outline: none;
  }
  & input::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px var(--primary-color);
    background: var(--primary-color);
    border-radius: 5px;
    border: 0px solid var(--primary-color);
  }
  & input::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px var(--text-color);
    border: 0px solid var(--text-color);
    height: 18px;
    width: 18px;
    border-radius: 15px;
    background: var(--text-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
    color: #fff;
  }
  & input:focus::-webkit-slider-runnable-track {
    background: var(--primary-color);
  }
  & input::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px var(--primary-color);
    background: var(--primary-color);
    border-radius: 5px;
    border: 0px solid var(--primary-color);
  }
  & input::-moz-range-thumb {
    box-shadow: 0px 0px 0px var(--text-color);
    border: 0px solid var(--text-color);
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: var(--text-color);
    cursor: pointer;
  }
  & input::-ms-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  & input::-ms-fill-lower {
    background: var(--primary-color);
    border: 0px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 0px var(--primary-color);
  }
  & input::-ms-fill-upper {
    background: var(--primary-color);
    border: 0px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 0px var(--primary-color);
  }
  & input::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px var(--text-color);
    border: 0px solid var(--text-color);
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: var(--text-color);
    cursor: pointer;
  }
  & input:focus::-ms-fill-lower {
    background: var(--primary-color);
  }
  & input:focus::-ms-fill-upper {
    background: var(--primary-color);
  }
}

.plan {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-gradient-color)
  );
  width: 350px;
  height: 270px;
  margin: 0px auto;
  border-radius: 15px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 30px;
  gap: 12px;

  & h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  & p {
    font-size: 1.5rem;
  }

  & button {
    border: none;
    background-color: var(--text-color);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--bg-color);
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }

  & button:hover {
    transform: scale(1.1);
  }

  & button:active {
    opacity: 0.5;
  }
}
