html {
  background-image: url(images/coffee\ landscape.jpg);
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  color: #303032;
  font-family: "Noto Serif", serif;
  min-height: 100vh;
}

.container {
  width: 430px;
  height: 550px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #fff;
}
.banner {
  height: 215px;
  background-image: url(images/coffee\ banner.png);
  background-position: right;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
}
.banner h2 {
  margin-top: 70px;
  font-size: 2.3rem;
  margin-bottom: 0px;
  text-shadow: 2px 2px 10px #000;
}
.banner p {
  font-size: 1.4rem;
  margin-top: 0px;
}
.main-body {
  width: 410px;
  margin: auto;
  height: 280px;
}
.two-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  margin-bottom: 3px;
}
.message-icon,
.follow-icon {
  width: 12px;
  height: 12px;
  filter: invert(48%) sepia(60%) saturate(6246%) hue-rotate(340deg)
    brightness(94%) contrast(99%);
}
.follow-icon {
  margin-right: -12px;
}
.message-button,
.follow-button {
  color: #ef3633;
  border: 0.9px solid #ef3633;
  padding: 10px;
  width: 110px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.35s;
  margin-top: 15px;
}
.message-button:hover,
.follow-button:hover {
  color: whitesmoke;
  border: none;
  background-color: #ef3633;
}
.button-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-media-metrics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 10px;
}
.social-media-metrics h2 {
  font-size: 2.45rem;
  margin-bottom: 0px;
}

.social-media-metrics p {
  margin-top: 3px;
  font-weight: 400;
  font-size: 1.5rem;
}
.social {
  border: 0.8px solid rgba(128, 128, 128, 0.3);
  border-top: none;
  margin-top: -20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 12px;
  margin-right: 12px;
}
.address {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 40px;
  font-size: 1.2rem;
}
.shop-address,
.web-address {
  display: flex;
  align-items: center;
}
.address img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  filter: invert(16%) sepia(3%) saturate(607%) hue-rotate(202deg)
    brightness(96%) contrast(90%);
}
.footer {
  background-color: #ef3633;
  text-align: center;
  height: 100px;
  display: grid;
  place-items: center;
}
.footer button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  background-color: #ef3633;
}
.footer button:hover {
  background-color: white;
  color: #ef3633;
}
.logo {
  position: absolute;
  top: 130px;
  left: 160px;
}
.logo-image {
  width: 110px;
  height: 110px;
}
.price {
  background-color: #ef3633;
  color: white;
  position: absolute;
  width: 100px;
  text-align: center;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  right: 0;
  top: 12px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
