* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Oswald", sans-serif;
  color: #fcfff8;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to top right, #152437, #1c7982);
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.container {
  height: 380px;
  width: 750px;
  background-image: linear-gradient(to top right, #152437, #1c7982);
  box-shadow: 1px 1px 5px #152437c0;
  position: relative;
}

.giveaway-tag {
  background-color: #0f102b;
  color: #fb5672;
  width: 220px;
  text-align: center;
  height: 55px;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 2rem;
  box-shadow: 1px 1px 20px #0f102bc5;
  position: absolute;
  top: -25px;
  left: 255px;
}

.content {
  margin: 60px auto 0px 30px;
}

.content h2 {
  font-size: 2.9rem;
  font-weight: 500;
}

.content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  width: 350px;
  line-height: 1.3;
  font-weight: 100;
  margin: 15px 0px;
}

.content h3 {
  font-size: 2rem;
  font-weight: 400;
}

.countdown {
  display: flex;
  margin: 10px 0px 50px 30px;
  background-color: #173948;
  width: 300px;
  height: 90px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 3px;
}

.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours-number,
.minutes-number,
.seconds-number {
  display: flex;
  gap: 2px;
  font-size: 3rem;
  margin-bottom: 3px;
}

.hours-number div,
.minutes-number div,
.seconds-number div {
  background-color: #0f102b;
  width: 35px;
  height: 45px;
  border-radius: 3px;
  text-align: center;
}

.hours-text,
.minutes-text,
.seconds-text {
  font-weight: 100;
  width: 15ch;
  text-align: center;
}

.separator {
  font-size: 3rem;
  display: flex;
  padding: 0px;
  align-items: start;
  justify-content: center;
  text-align: center;
  height: 65px;
}

.action-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50px;
  bottom: -30px;
}

.action-btn button {
  background-color: #fe546a;
  color: white;
  border: none;
  height: 65px;
  width: 260px;
  font-size: 2rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.action-btn button:hover {
  height: 68px;
  width: 263px;
}

.giveaway-item {
  position: absolute;
  right: -250px;
  bottom: -170px;
  animation: moves 3s linear 0s 1;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}
@keyframes moves {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
.giveaway-item img {
  width: 600px;
}
