* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #e3f1ee;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background-color: #cde5e4;
  width: 690px;
  height: 390px;
  display: grid;
  place-items: center;
}

.content {
  background-color: #ffffff;
  width: 93%;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between;
}

.main-content img {
  width: 100px;
}

.main-content p {
  width: 350px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.reviewer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-icons {
  width: 150px;
  height: 50px;
  display: flex;
  width: 500px;
  margin-top: -35px;
  gap: 5px;
  align-items: center;
}

.dots {
  width: 8px;
  height: 8px;
  border: 1px solid #000000;
  border-radius: 100%;
}

.line {
  width: 500px;
  height: 2px;
  background-color: #000000;
  margin-top: 5px;
}

.arrows {
  width: 500px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows img {
  cursor: pointer;
}

#reviews-content {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}
